language: ruby
rvm:
  - 1.9.3
  - 2.0
  - 2.1
  - jruby
env:
  global:
    - REDMINE_LANG=en
    - MYSQL_DATABASE=redmine
    - MYSQL_HOST=127.0.0.1
    - MYSQL_PORT=3306
    - MYSQL_USER=root
    - MYSQL_PASSWORD=
    - POSTGRES_DATABASE=redmine
    - POSTGRES_USER=postgres
  matrix:
    - REDMINE_VERSION=2.6.2 DATABASE_ADAPTER=mysql
    - REDMINE_VERSION=2.6.2 DATABASE_ADAPTER=postgresql
    - REDMINE_VERSION=2.6.0 DATABASE_ADAPTER=mysql
    - REDMINE_VERSION=2.6.0 DATABASE_ADAPTER=postgresql
    - REDMINE_VERSION=2.5.3 DATABASE_ADAPTER=mysql
    - REDMINE_VERSION=2.5.3 DATABASE_ADAPTER=postgresql
    - REDMINE_VERSION=2.5.2 DATABASE_ADAPTER=mysql
    - REDMINE_VERSION=2.5.2 DATABASE_ADAPTER=postgresql
    - REDMINE_VERSION=2.4.7 DATABASE_ADAPTER=mysql
    - REDMINE_VERSION=2.4.7 DATABASE_ADAPTER=postgresql
before_install:
  - REPO_WD=$(pwd)
  - export GITHUB_USER=$(basename $(dirname `pwd`))
  - export GITHUB_PROJECT=$(basename `pwd`)
  - cd ../..
  - $REPO_WD/contrib/travis/install_redmine.sh
  - cd redmine
  - echo $(pwd)
  - export BUNDLE_GEMFILE=$PWD/Gemfile
  - echo $BUNDLE_GEMFILE
before_script:
  - echo $(pwd)
  - export RAILS_ENV=test
  - mysql -e 'create database redmine;'
  - psql -c 'create database redmine;' -U postgres
  - bundle exec rake generate_secret_token
  - bundle exec rake db:migrate
  - bundle exec rake redmine:plugins:migrate
  - bundle exec rake db:test:prepare
script:
  - bundle exec rake redmine:plugins:test
